<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <link href="../../../../../static/charchem.css" />
  <link href="./cch.css" rel="stylesheet" />
  <style>
    body {font-size: 32px;}
  </style>
</head>
<body>
  <div style="padding: 1em;">
  <span class="echem-formula" style="border: thin solid silver;">
    <span class="cch-expr">
      <span class="cch-agent cch-has-over">
        <span class="cch-over">
          <span>Ca</span>
          <span class="cch-index">+2</span>
        </span>
        <span class="cch-supsub">
          <span>2+</span>
          <span>4</span>
        </span>
      </span>
      +
      <span class="cch-agent">
        H
        <span class="cch-supsub">
          <span>2<span class="cch-minus">–</span></span>
          <span></span>
        </span>
      </span>
    </span>
  </span>
  </div>
</body>
</html>