.box {
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
}
.toolbar {
  background-color: #EEE;
  padding: 0.5rem 1rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1.5rem;
}

.demo {
  padding: 0.4rem 1rem;
}
.comment {
  color: #888;
}